In [3]:
import pandas as pd

# Sample data
data = {
    "parent_case_number": ["P1", "P2", "P1", "P2", "P2"],
    "case_number": ["C1", "C2", "C3", "C4", "C5"],
    "start_date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"],
    "end_date": ["2023-02-01", "2023-02-02", "2023-02-03", "2023-02-04", "2023-02-05"],
    "additional_column1": [10, 20, 30, 40, 50],
    "additional_column2": ["A", "B", "C", "D", "E"]
}

df = pd.DataFrame(data)

# Convert date columns to datetime
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

# Group by parent_case_number and aggregate start_date with min(), end_date with max(), and other columns with first() or last()
grouped_df = df.groupby('parent_case_number').agg(
    Start_Date=('start_date', 'min'), 
    End_Date=('end_date', 'max'), 
    Additional_Column1=('additional_column1', 'first'),  # Choose how to aggregate other columns
    Additional_Column2=('additional_column2', 'last')     # Choose how to aggregate other columns
)

print(grouped_df)

                   Start_Date   End_Date  Additional_Column1  \
parent_case_number
P1                 2023-01-01 2023-02-03                  10
P2                 2023-01-02 2023-02-05                  20

                   Additional_Column2
parent_case_number
P1                                  C
P2                                  E

In [5]:
df

,parent_case_number,case_number,start_date,end_date,additional_column1,additional_column2
0,P1,C1,2023-01-01,2023-02-01,10,A
1,P2,C2,2023-01-02,2023-02-02,20,B
2,P1,C3,2023-01-03,2023-02-03,30,C
3,P2,C4,2023-01-04,2023-02-04,40,D
4,P2,C5,2023-01-05,2023-02-05,50,E

In [4]:
grouped_df

,Start_Date,End_Date,Additional_Column1,Additional_Column2
parent_case_number,,,,
P1,2023-01-01,2023-02-03,10,C
P2,2023-01-02,2023-02-05,20,E